<footer>

  <ul class="row list-unstyled">
    <li class="col-sm-3">
      <h3>Zakwaterowanie</h3>
      <p class="text-left">Dysponujemy pokojami gościnnymi 2,3,4- osobowymi. Każdy pokój jest z&nbsp;łazienką, telewizorem oraz czajnikiem elektrycznym.</p>
    </li>
    <li class="col-sm-3">
      <h3>Wyżywienie</h3>
      <p class="text-left">Obiady z&nbsp;oryginalnego pieca kaflowego zawsze smakuje wyśmienicie co potwierdzają napełnione do syta brzuchy gości! Produkty spożywcze pochodzą  z&nbsp;własnego gospodarstwa rolnego.</p>
    </li>
    <li class="col-sm-3">
      <h3>Wypoczynek</h3>
      <p class="text-left">Z dala od głównej drogi oraz miejskiego zgiełku goście mogą odpocząć korzystając z&nbsp;długiego i&nbsp;spokojnego snu.</p>
    </li>
    <li class="col-sm-3">
      <h3>Dobra zabawa!</h3>
      <p class="text-left">Istnieje możliwość skorzystania z&nbsp;dużego Grilla, przygotowania pieczonej świni lub barana.</p>
    </li>
  </ul>

  <br />
  <h4 class="text-center">Sprawdź <a href="/oferta">naszą ofertę</a> i&nbsp;dołącz do zadowolonych gości!</h4>
  <br /><br /><br />

</footer>
