
<h3 class="text-center">Pokoje Gościnne u Marii Dziadkowiec</h3>

<hr />

<div id="conact-card" class="row">

	<div class="col-md-6">
		<address class="text-right">
		Maria Dziadkowiec<br />
		ul. Wierch Głodowski 42<br />
		34-530 Bukowina Tatrzańska
		</address>
	</div>

	<div class="col-md-6">
		<address>
		Mobile: +48 725 469 971<br />
		Telefon: (18) 20 77 526<br />
		Email: maria@dziadkowiec.pl<br />


		<br />
		Numer konta bankowego (mBank):<br /><kbd class="iban">PL09 1140 2004 0000 3602 7436 3728</kbd>
		</address>
	</div>

	

</div>
