<header class="site-header">

  <div class="wrap">

    <a id="home" class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav id="main-menu">
      
      <ul class="row">
          <li class="col-sm-2 col-sm-offset-2 col-xs-6">
            <a class="page-link" href="/">Aktualności</a>
          </li>
          <li class="col-sm-2  col-xs-6">
            <a class="page-link" href="/oferta/">Oferta</a>
          </li>
          <li class="col-sm-2  col-xs-6">
            <a class="page-link" href="/galeria/">Galeria</a>
          </li>
          <li class="col-sm-2  col-xs-6">
            <a class="page-link" href="/kontakt/">Kontakt</a>
          </li>
        </ul>
    </nav>

  </div>

</header>
