---
layout: default
---
<div id="galeria">

	<h2>Zdjęcia</h2>

	<div class="row">
		<p class="col-md-7">
			<img src="/photos/gory.jpg" alt="" class="img-responsive img-thumbnail" />
		</p>
		<p class="col-md-5">
			<img src="/photos/mamatata.jpg" alt="" class="img-responsive img-thumbnail" />
		</p>
	</div>

	<div class="row">
		<p class="col-md-6">
			<img src="/photos/pok1.jpg" alt="" class="img-responsive img-thumbnail" />
		</p>

		<p class="col-md-6">
			<img src="/photos/pok2.jpg" alt="" class="img-responsive img-thumbnail" />
		</p>
	</div>

	<div class="row">
		<p class="col-md-6">
			<img src="/photos/pok3.jpg" alt="" class="img-responsive img-thumbnail" />
		</p>

		<p class="col-md-6">
			<img src="/photos/pok4.jpg" alt="" class="img-responsive img-thumbnail" />
		</p>
	</div>

	<div class="row">
		<p class="col-md-4">
			<img src="/photos/laz1.jpg" alt="" class="img-responsive img-thumbnail" />
		</p>

		<p class="col-md-4">
			<img src="/photos/laz2.jpg" alt="" class="img-responsive img-thumbnail" />
		</p>

		<p class="col-md-4">
			<img src="/photos/laz3.jpg" alt="" class="img-responsive img-thumbnail" />
		</p>
	</div>

	<div class="row">
		<p class="col-md-5">
			<img src="/photos/grill.jpg" alt="" class="img-responsive img-thumbnail" />
		</p>
		<p class="col-md-7">
			<img src="/photos/wigilia2011.jpg" alt="" class="img-responsive img-thumbnail" />
		</p>
	</div>

</div>