---
layout: default
---
<div id="galeria">

	<h2>Zdjęcia</h2>

	<p>
		<img src="/photos/mama.jpg" alt="" class="img-responsive img-thumbnail" />
		<img src="/photos/mamatata.jpg" alt="" class="img-responsive img-thumbnail" />
		<img src="/photos/pokoj1.jpg" alt="" class="img-responsive img-thumbnail" />
		<img src="/photos/pokoj2.jpg" alt="" class="img-responsive img-thumbnail" />
		<img src="/photos/lazienka.jpg" alt="" class="img-responsive img-thumbnail" />
		<img src="/photos/grill.jpg" alt="" class="img-responsive img-thumbnail" />
		<img src="/photos/gory.jpg" alt="" class="img-responsive img-thumbnail" />
		<img src="/photos/wigilia2011.jpg" alt="" class="img-responsive img-thumbnail" />
	</p>


<!--
![](/photos/gory.jpg)

![](/photos/grill.jpg)

![](/photos/lazienka.jpg)

![](/photos/mamatata.jpg)

![](/photos/mama.jpg)

![](/photos/pokoj1.jpg)

![](/photos/pokoj2.jpg)

![](/photos/wigilia2011.jpg)
  -->

</div>