---
layout: default
---

<div class="col-md-offset-2 col-md-8">

	<h2 id="noclegi">Noclegi</h2>

	<p>Dysponujemy pokojami gościnnymi <strong>2,3,4 - osobowymi</strong>. Każdy pokój jest <strong>z łazienką</strong>, <strong>telewizorem</strong> oraz <strong>czajnikiem elektrycznym</strong>. Łatwy dojazd, dostępne <strong>miejsca parkingowe</strong> oraz spokojna okolica to nasze atuty. </p>

	<h3>Internet</h3>
	<p>Na terenie całego obiektu znajduje się bezpłatne WiFi.</p>

</div>

<div class="col-md-offset-3 col-md-7">

<h2 id="wyzywienie">Wyżywienie</h2>

	<p>Obiady z oryginalnego pieca kaflowego zawsze smakują wyśmienicie co potwierdzają napełnione do syta brzuchy gości! Produkty spożywcze w tym mięso wołowe, drobiowe czy wieprzowina, <strong>jajka</strong>, <strong>mleko</strong>, <strong>masło</strong> oraz <strong>sery białe</strong> pochodzą z własnego gospodarstwa rolnego. </p>

	<p>Naszymi specjalnoścami są&nbsp;ręcznie wyrabiane serki białe <strong>korbace</strong> - popularnie nazywanymi też&nbsp;<strong>nitkami</strong>.</p>

	<p>W dogodnych dla państwa porach oferujemy <strong>śniadanie</strong> oraz <strong>obiado-kolacje</strong>. Jeśli trasa w góry jest bardzo wymagająca polecamy śniadania od godziny 7.00 oraz obiado-kolacje nawet o godzinie 18.00.</p>

</div>

<div class="col-md-offset-2 col-md-8">

<h2 id="obiekt-dostpny-jest-caorocznie">Obiekt dostępny jest całorocznie</h2>

<p>Latem zapraszamy na posiady góralskie oraz liczne imprezy okolicznościowe m.in. <strong>“Sabałowe Bajania”</strong>, gdzie podczas “Sabałowej Nocy” odbywa się Ceremonia pasowania na Zbójnika oraz nadanie honorowego tytułu “Wiyrchowyj Orlicy”.</p>

<p>Bukowina Tatrzańska latem to wspaniałe miejsce dla amatorów ciszy i spokoju. Dużo ciekawych miejsc na wycieczki i spacery. Codziennie istnieje możliwość skorzystania z dużego grilla, a dla wyjątkowo zgłodnałych przygotowanie pieczonego świniaka lub barana.</p>

<p>Zimą zapraszamy na białe szaleństwo. <strong>Kompleks wyciągów</strong> w Bukowinie Tatrzańskiej oraz Białce Tatrzańskiej przyjmuje narciarzy z całego świata oferując trasy zjazdowe na każdym poziomie trudności od 400 do 1900 metrów.</p>

<p>Podczas zimy również&nbsp;odbywa się&nbsp;<strong>“Karnawał góralski”</strong>, który obejmuje konkurs tańca zbójnickiego, popisy par tanecznych, liczne występy lokalnych oraz zagranicznych zespołów folkowych, wystawa twórczości ludowej oraz <strong>Kumoterki</strong> - niezwykły pokaz góralskiej zręczności i brawury w konkurencjach takich jak <strong>skiring</strong>, <strong>ski-skiring</strong> oraz wyścigów samych kumoterek.</p>

<p>Dla zainteresowanych podczas mroźnej zimy istnieje możliwość zorganizowania kuligu, rozpalenie <strong>Watry</strong> oraz pieczenie pysznych kiełbasek. </p>

<p>Szczególnie jesienią polecamy wycieczki w góry. Do Morskiego Oka czy do Doliny Pięciu Stawów - każdy znajdzie coś&nbsp;dla siebie.</p>

<p>Niezależnie od pory roku oraz pogody zawsze istnieje możliwość skorzystania z pobliskich term. Znajdą państwo zarówno <em>baseny kryte</em> jak i te dostępne pod gołym niebem: w Bukowinie oraz Białce Tatrzańskiej, w Szaflarach oraz w Zakopanem.</p>

<p>W zależności od sezonu, długości pobytu oraz ilości osób oferujemy zniżki.</p>

</div>